streamlit

pydantic>=2.5.0

langchain>=0.1.20
langchain-community>=0.0.38
langchain-google-genai==1.0.10

crewai==0.70.1

python-docx>=1.1.0
matplotlib>=3.8.0
pandas>=2.0.0
pillow>=10.0.0
